<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>My Site</title>
   <link rel="stylesheet" href="/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/css/app.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Caveat&family=Dancing+Script:wght@400;500&family=Handlee&family=Indie+Flower&family=Kalam&family=Lato&family=Marck+Script&family=Merienda&family=Merriweather&family=Montserrat&family=Nothing+You+Could+Do&family=Noto+Sans+JP&family=Open+Sans&family=Oswald&family=Parisienne&family=Patrick+Hand&family=Pattaya&family=Roboto&family=Sacramento&family=Satisfy&family=Shadows+Into+Light&family=Tangerine&family=Ubuntu&display=swap"
      rel="stylesheet">
   <script src="/js/jquery.js"></script>
   <script src="/js/bootstrap.min.js"></script>
</head>