<%- include('partials/head') %>

<body class="">
   <%- include('partials/navbar') %>
   <header class="header">
      <h1 class="pt-5 text-center bg-coral py-5 text-kalam bg-dodger-blue text-white">The Home Page </h1>
   </header>
   <div class="container pt-5 min-vh-100">
      <div class="text-center pb-5">
         <img src="/images/bran-stark-isaac-hempstead-wright.gif" alt="" class="img-fluid rounded">
      </div>
      <p class="lead">Lorem ipsum keme keme keme 48 years mabaho oblation doonek pinkalou at ang na , na ang kirara at
         nang 48 years bakit
         bigalou ugmas pamin paminta na ang nang shonga-shonga wasok.</p>
      <p class="text-muted text-noto-sans py-3">At ang sangkatuts borta ang na Gino tetetet ugmas ang conalei buya ganda
         lang chopopo
         planggana ang nakakalurky ng at
         katol effem ma-kyonget Cholo shonget nang quality control nakakalurky sudems na at bakit na ang chopopo chaka
         Mike at
         nang pinkalou shonget waz ano jutay tungril jutay nang nang valaj sudems shontis ano ang wasok nang neuro nang
         at bakit
         ang 48 years intonses at ang chapter tetetet bonggakea , na ugmas krung-krung krung-krung urky at ang wiz nang
         bakit
         daki mabaho bakit guash emena gushung at nang guash jupang-pang juts tanders kasi ganders buya at bakit
         nakakalurky
         Cholo shonga-shonga ng shonga-shonga jupang-pang fayatollah kumenis shonga sa kasi bongga neuro ano krung-krung
         bakit
         ugmas.

      </p>
      <p class="text-muted text-noto-sans py-3"">Sa planggana matod ng at wasok wasok ano bongga kasi at nang nang kasi at sa shokot neuro
         chuckie bakit at nang , Cholo
         ang valaj na ang katol nakakalurky antibiotic ang shokot 48 years oblation 48 years warla na cheapangga ang
         nang
         planggana na shonget shonget pranella ng kasi na ang nang at at bakit urky keme keme shongaers borta tetetet
         sangkatuts
         nang shala buya neuro jowa ano ganders pamenthol jutay lulu nang shongaers ang nang mahogany juts lulu neuro
         ano
         jongoloids lorem ipsum keme keme ang majonders nang quality control wrangler bella otoko nang krung-krung urky
         juts at
         48 years jutay jowabella mahogany makyonget ang tungril na ang chuckie tetetet chopopo jowabelles.
      </p>
   </div>
   <%- include('partials/footer') %>
</body>

</html>