<%- include('partials/head')  %>

<body class="bg-warning">
   <%- include('partials/navbar') %>
   <div class="container  mx-auto w-100 my-5 ">
      <h1 class="display-5 text-danger px-2 py-2"><%= tae.repeat(1000000) %> </h1>
   </div>
   <%- include('partials/footer') %>
</body>

</html>